<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CHORD BRAH</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/chord_brah.css">
		<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
	</head>

	<body ng-app="ChordBrah">
		<!-- Third party scripts -->
		<!--<script src="http://threejs.org/build/three.min.js"></script> -->
		<script src="js/three.js"></script>
		<script  src="js/MTLLoader.js"></script>
		<script src="js/OBJMTLLoader.js"></script>
		<script src="js/soundjs/soundjs-NEXT.combined.js"></script>
		<script src="js/TrackballControls.js"></script>
		<script src="js/TXFullscreen.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.2.4/angular.js"></script>	

		<!-- shaders -->	
		<script src="js/shaders/CopyShader.js"></script>
		<script src="js/shaders/DotScreenShader.js"></script>
		<script src="js/shaders/RGBShiftShader.js"></script>
		<script src="js/shaders/ShaderGodRays.js"></script>
		<script src="js/shaders/VignetteShader.js"></script>
		<script src="js/shaders/ConvolutionShader.js"></script>
		<script src="js/shaders/DigitalGlitch.js"></script>

		<script src="js/postprocessing/EffectComposer.js"></script>
		<script src="js/postprocessing/RenderPass.js"></script>
		<script src="js/postprocessing/MaskPass.js"></script>
		<script src="js/postprocessing/ShaderPass.js"></script>
		<script src="js/postprocessing/FilmPass.js"></script>
		<script src="js/postprocessing/BloomPass.js"></script>
		<script src="js/postprocessing/GlitchPass.js"></script>
		
		<!-- Our scripts -->
		<script src="js/engine/camera.js"></script>
		
		<script src="js/engine/controls.js"></script>
		<script src="js/engine/track.js"></script>
		<script src="js/engine/soundControl.js"></script>
		<script src="js/engine/target.js"></script>
		<script src="js/engine/menuControl.js"></script>
	
		<div id="wrapper" ng-controller="menuController">
			<div id="menu" ng-hide="activeView != 'menuView'">
				<div id="logo">Chord Brah</div>
				<button id="mainPlayBtn" disabled ng-click="setSongSelect()">Play</button>
				<button id="editorBtn" ng-click="setEditor()">Editor</button>
				<button id="optionsBtn" ng-click="setOptions()">Options</button>
				<!-- <button id="helpBtn">Help</button> -->
			</div>
			<div id="songSelect" ng-hide="activeView != 'songSelectView'" ng-controller="songSelectController">
				<div class="navigation">
					<button id="songSelect_backBtn" ng-click="toMenu()">back</button>
					<label>Song Selection</label>
				</div>
				<div id="songSelection">
					<input type="file" webkitdirectory id="folderSelector" onchange="angular.element(this).scope().setFiles(this)"">
					<div class="song" ng-repeat="song in songs">
						<label>{{song}}</label>
					</div>
				</div>
			</div>
			<div id="options" ng-hide="activeView != 'optionsView'" ng-controller="optionsController">
				<div class="navigation">
					<button id="options_backBtn" ng-click="toMenu()">back</button>
					<label>Options</label>
				</div>
				<div id="optionsForm" class="cord_brah_form">
					<fieldset><legend>Screen size</legend>
						<br>
						<label>Screen width: </label><input type="text" id="widthInput" >
						<label>Screen height: </label><input type="text" id="heightInput">
						<label>Fullscreen: </label><input type="checkbox" id="fullScreenChk" ng-model="fullscr" ng-change="toggleFullscreen()">
						<br>
						<button id="optionsApplyBtn" ng-click="applyOptions()">Apply</button>
					</fieldset>
				</div>
			</div>
			<div id="editor" ng-hide="activeView != 'editorView'" ng-controller="editorController">
				<div class="navigation">
					<button id="editor_backBtn" ng-click="toMenu()">back</button>
					<label>Track Editor</label>
				</div>
				<div id="trackForm" class="cord_brah_form">
					<fieldset><legend>Track info</legend>
						<br>
						<label>Track name: </label><input type="text" id="nameInput" >
						<label>Track tempo: </label><input type="text" id="tempoInput">
						<br>
					</fieldset>
					
					<br><br>
					
					<fieldset> <legend>Track sections</legend>
					<br>
					<button id="sectionBtn" ng-click="addSection()">Create a new section</button>
					<button id="removeSectionBtn" ng-click="removeSection()" style="margin-left:20px">Remove last section</button>
					<button id="clearEditorBtn" ng-click="clearEditor()" style="margin-left:20px">Clear editor</button>
					<button id="playBtn" ng-click="play()" style="float: right; margin-right: 20px">Play</button>
					<input type="file" id="openFileBtn"/>
					<label id="openFileBtn-label" for="openFileBtn">Open</label>
					<a id="saveTrackBtn" ng-click="saveTrack()" style="float: right; margin-right: 20px" href="" download="">Save track</a>
					
					</fieldset>
				</div>
			</div>
			<div id="container" ng-hide="activeView != 'gameView'"></div>
			<div id="gui">
				<label id="gui_up"></label>
				<label id="gui_left"></label>
				<img id="arrowImg" src="img/other/4wayArrow.png">
				<label id="gui_right"></label>
				<label id="gui_down"></label>
			</div>
			<div id="gameMenu" ng-controller="gameMenuController">
				<label id="actionLabel">Paused</label>
				<label id="startLabel">Press space to start!</label>
				<label id="scoreLabel"></label>
				<label id="totalCheckpoints"></label>
				<button id="exitToMenuBtn" ng-click="exitToMenu()">Exit to main menu</button>
			</div>
		</div>
		
		<script src="js/engine/main.js"></script>
	</body>
</html>
